/* styles.css */

/* General body styles */
body {
    background-image: url('images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Arial', sans-serif;
  }
  
  /* Container styles */
  .container {
    margin-top: 20px;
  }
  
  /* Card styles */
  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Card header styles */
  .card-header {
    background-color: #2c3e50; /* Dark Blue */
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 15px;
  }
  
  /* Card body styles */
  .card-body {
    padding: 20px;
  }
  
  /* Menu item styles */
  .card.mb-2 {
    transition: transform 0.3s;
  }
  
  .card.mb-2:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    border-radius: 10px;
  }
  
  .card p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  /* Quantity input styles */
  input[type="number"] {
    width: 50px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* Add to order button styles */
  .btn-info {
    background-color: #3498db; /* Blue */
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .btn-info:hover {
    background-color: #2980b9; /* Darker Blue */
  }
  
  /* Ordered items styles */
  #ordered-items {
    max-height: 300px;
    overflow-y: auto;
  }
  
  /* Total input styles */
  #cash {
    width: 100%;
    margin-bottom: 10px;
  }
  
  /* Void item and pay button styles */
  #void-item,
  #pay {
    width: 48%;
    margin-right: 2%;
  }
  
  .btn-danger {
    background-color: #e74c3c; /* Red */
    border-color: #e74c3c;
  }
  
  .btn-danger:hover {
    background-color: #c0392b; /* Darker Red */
    border-color: #c0392b;
  }
  
  .btn-success {
    background-color: #2ecc71; /* Green */
    border-color: #2ecc71;
  }
  
  .btn-success:hover {
    background-color: #27ae60; /* Darker Green */
    border-color: #27ae60;
  }
  